
.game {
    max-width: 450px;
    margin: 0 auto;
}

.option {
    padding: 0;
    border: none;
    cursor: pointer;
}

.game-board {
    /*text-align: center;*/
}

.box {
    display: inline-block;
    width: 50px;
    height: 50px;
    /*max-width: 50px;*/
    /*max-height: 50px;*/
    /*border: thin solid #ddd;*/
    /*background-color: #ddd;*/
    border-radius: 5px;
    margin: 0 5px;
}

.hint {
    margin-left: 25px;
    background-color: #ddd;
    /*padding: px;*/
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    /*border-radius: 5px;*/
    /*margin: 0 5px;*/
    /*border: thin solid #ddd;*/
}

.dot {
    /*margin: 5px;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*border-radius: 100%;*/
    /*background-color: red;*/
    /*display: inline-block;*/
    /*border: 1px solid black;*/
}

/*.dot:after {*/
/*    display: inline-block;*/
/*    content: "\25EF";*/
/*}*/

.color-options {
    max-width: 60%;
    margin-top: 25px;
}